@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  color: #313130;
}

body {
  display: flex;
  flex-wrap: wrap;

  font-family: "Open Sans";
}

.article-list__title {
  margin-bottom: 40px;
  font: 700 32px 'Open Sans';
}

.main {
  width: 800px;
  margin: 40px auto 0;
  padding: 0 200px 50px;

  font-family: "Open Sans";
}

.tasks {

}

.tasks__title {
  position: relative;
  padding-left: 30px;
  margin-bottom: 30px;

  font-size: 24px;
}

.tasks__title::before {
  position: absolute;
  left: 0;
  top: 5px;

  content: "\2713";
  
  display: block;
  width: 25px;
  height: 25px;

  background-color: rgb(77, 148, 94);
  border-radius: 50%;

  color: #fff;
  text-align: center;
  line-height: 25px;
  font-size: 18px;
}

.task {
  padding: 15px 0;
  border-top: 2px solid rgb(233, 233, 233);
}

.task__title {
  font-size: 18px;
  font-weight: 700;
}

.task-description {
  margin: 20px 0;
}

.task-list {
  margin-left: 30px;
}

.task-list__item {
  padding: 5px;
}

.task__code {
  padding: 0;
}

.task__code-list {
  counter-reset: d;
  list-style: none;
  background-color: #f7f4f3;
}

.task__code-list__item {
  counter-increment: d;
  position: relative;
  padding: 5px 70px;
  
  min-height: 25px;
  box-sizing: border-box;
}

.task__code-list__item::before {
  content: counter(d);
  position: absolute;
  top: 0;
  left: 0px;
  display: block;
  width: 29px;
  height: 20px;
  padding: 5px 0 0 20px;
  color: #716f6e;
  background-color: #e7e5e3;
}

.task__solution {
  margin: 35px 0 16px;
  font-size: 16px;
  font-weight: 700;
}

.task__solution__code {
  padding: 15px 10px;
  margin-bottom: 20px;

  background-color: rgb(30, 44, 51);
  border: 3px solid rgb(50, 147, 160);
  border-radius: 8px;
}

code {
  padding: 2px 4px;
  
  background-color: rgb(241, 241, 241);
  border-radius: 2px;
  color: rgb(126, 126, 126);
}

.task__solution__code code {
  padding: 0;
  
  color: rgb(204, 177, 58);
  background-color: transparent;
}

.task__solution-btn {
  padding: 10px;

  font-size: 16px;

  color: rgb(214, 214, 214);
  background-color: rgb(30, 44, 51);
  border: 2px solid rgb(50, 147, 160);
  border-radius: 18px;

  cursor: pointer;
}