@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  color: #313130;
  list-style: none;
}

body {
  display: flex;
  flex-wrap: wrap;
}

.sub-list__item.no-tasks .sub-list__item__link::after {
  position: absolute;
  right: -30px;
  
  content: "\274C";
}

.sub-list__item.no-tasks:hover::before {
  content: "Нет задач";

  position: absolute;
  right: 0;
  top: 2px;
  z-index: 1;

  padding: 2px 5px;

  font-size: 10px;

  color: rgb(204, 131, 131);
  background-color: #fff;

  border: 1px solid rgb(160, 106, 106);
  border-radius: 10px;
}

.title {
  margin: 24px 0;
  font-weight: 700;
}

.link:hover {
  color: #c4433a;
  text-decoration: underline;
}

.ad {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;

  margin: 30px 0;

  border: 3px solid rgb(123, 174, 216);
  border-radius: 15px;

  color: rgb(83, 156, 216);

  font: 700 24px "Open Sans";
  text-shadow: 1px 2px 3px rgb(122, 191, 236);
}

.loading-pug {
  width: 100px;
}

.main {
  margin: 40px auto 0;
  padding: 0 200px;

  font-family: "Open Sans";
}

.sections-list {
  max-width: 1000px;
}

.section-list__title {
  margin: 40px 0;

  font-size: 20px;
}

.section-list {
  font-size: 16px;
}

.chapters-list {
  counter-reset: a;
}

.chapter-list {
  counter-increment: a;
}

.chapter-list__title {
  font-size: 16px;
}

.sub-list {
  columns: 3;
}

.sub-list__item {
  display: flex;
  position: relative;

  break-inside: avoid;
  font-weight: 400;
  color: #436ebd;

  counter-increment: b;
}

.sub-list__item__link {
  color: #436ebd;
}

.list-item__link:hover,
.sub-list__item__link:hover {
  color: #c4433a;
  text-decoration: underline;
}


.sub-list__title {
  position: relative;
  padding-left: 40px;
  margin-bottom: 3px;
}

.sub-list__title::before {
  position: absolute;
  top: 4px;
  left: 0;
  content: counter(a) "." counter(b);
  margin-right: 20px;
  font-size: 12px;
  font-family: monospace;
  color: #000;
}